{% extends "index.html" %}
{% block title %} upload page {% endblock %}
{% block content %}
<h2 class="text-info"> last opp et bildet med stein, saks eller papir.</h2>

<div class="p-3 mb-2 bg-dark text-white d-inline-flex p-2 bd-highlight">
<form action = "/uploader" method = "POST" enctype = "multipart/form-data">
<div class="input-group mb-3">
    <div class="input-group-prepend">
      <input type = "file" name = "file" />
      <input type = "submit"/>
    </div>  
  </div>  
</form>
</div>
{% endblock %}