{% extends "index.html" %}
{% block title %} upload page {% endblock %}
{% block content %}
<h2 class="text-info"> Last opp et bildet av ein frosk, hjort, katt, fugl, hund, bil, lastebil eller eit fly.</h2>

<div class="p-3 mb-2 bg-dark text-white d-inline-flex p-2 bd-highlight">
<form action = "/uploader" method = "POST" enctype = "multipart/form-data">
<div class="input-group mb-3">
    <div class="input-group-prepend">
      <input type = "file" name = "file" />
      <input type = "submit"/>
    </div>  
  </div>  
</form>
</div>
<div>
  <img src="/static/image.jpg"/>
</div>

<form action = "/predict" method = "get">
  
  <h4>{{ result }}</h4>
  </form>
{% endblock %}